* {
    margin:0;
    padding:0;
    font-family: 'Metrophobic', sans-serif;
    box-sizing: border-box;
    /*Přechod na tradiční koncept box modelu*/
}

a {
    text-decoration: none;
    color: inherit; /*Barvu bere od rodičovského elementu*/
}

/*Navbar sekce*/
/*Místo elementům rozděluji rozdělením obrazovky (celková šířka = 100vw (viewport width))*/

#nav {
    width: 100vw;
    height:100px;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    padding-bottom: 5px; /*Aby byli věci trošku offcenter nahoru*/
}

#siteName {
    color: #007bff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left:15vw;
    margin-right:13vw;
    cursor: pointer;
}

#links {
    display: flex;
    width: 35vw;
}

.linksItem {
    color: #59616d;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left:30px;
    padding-right:30px;
    cursor: pointer;
    white-space: nowrap; /*Aby šipka nebyla na druhým řádku*/
}

.buyButton {
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 50rem;
    font-weight: 700;
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
    outline: none;
    border: none;
    margin-left:10%;
    margin-right: 10%;
    white-space: nowrap; /*Aby šipka nebyla na druhým řádku*/
    transition: 0.3s;
} 

.buyButton:hover {
    background-color: #009476;
    border-color: #00876b;
}

.buyButton:focus {
    border-color: #00ba94;
    box-shadow: 0 0 0 0.2rem rgb(0 186 248 / 50%);
}


/*Dropdown Logika*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    right:0; /*Dropdown se rve doleva, ne doprava jako defaultně*/
}

.dropLink {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  transition: 0.3s;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropLink:hover {
    background-color: rgb(219, 219, 219);
}

/*Hlavní sekce (tag main)*/

#main {
    padding-top:100px; /*Nemusí být pod navbarem*/
    z-index: 1;
    height: 100vh;
    background-color: wheat;
    background: linear-gradient(135deg,#0061f2,rgba(105,0,199,.8)); /*Něco jako Vite logo*/
    display: flex;
}

#desc { /*Levá část mainu*/
    width: 70vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#descContent {
    margin-left:20%;
    margin-right:20%;
}

#header {
    color:white;
    font-size: 3.5rem;
}

#info {
    color:hsla(0,0%,100%,.6);
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 40px;
}

.callToAction {
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 50rem;
    font-weight: 700;
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
    outline: none;
    border: none;
    white-space: nowrap; /*Aby šipka nebyla na druhým řádku*/
    transition: 0.3s;
}

.callToAction:hover {
    background-color: #009476;
    border-color: #00876b;
}

.callToAction:focus {
    border-color: #00ba94;
    box-shadow: 0 0 0 0.2rem rgb(0 186 248 / 50%);
}

#imgSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img {
    position: relative;
    animation: drop 0.55s linear forwards;
}

@keyframes drop {/*Animace telefonu. Důvod toho -3px je to, aby to ještě vykočilo jak míček*/
    0% {transform: translateY(-200px)}
    65% {transform: translateY(0px)}
    80% {transform: translateY(-3px)}
    100% {transform: translateY(0px)}
}

@media screen and (max-width: 1300px) {
    #siteName {
        margin-right: 5vw;
        margin-left: 6vw;
    }
    .buyButton {
        margin-left:15%;
        margin-right: 10%;
    }
    .linksItem {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*Sekce zaručující responsivitu těla*/

@media screen and (max-width: 900px) {
    #imgSection {
        display: none; /*Na mobilu neukazuje obrázek, protože by se tam nevešel*/
    }
    #desc {
        width: 100vw; /*Text pak zabírá 100% šířky obrazovky*/
    }
}


@media screen and (max-width: 600px) {
    #descContent {
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media screen and (max-width: 500px) {
    #header {
        font-size: 2.8rem;
    }
    #info {
        font-size: 1.1rem;
    }
}


@media screen and (max-height: 600px) {
    #descContent {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-height: 450px) {
    #header {
        font-size: 3rem;
    }
    #info {
        margin-bottom: 20px;
    }
}


/*Sekce zaručující responsivitu navigace*/

@media screen and (max-width: 900px) {
    #siteName {
        font-size: 1.2rem;
        margin-left:2vw;
        margin-right: 0vw;
    }
    .buyButton {
        margin-right: 5%;
        margin-left:auto;
    }
}

@media screen and (max-width: 780px) {
   .linksItem {
       padding-right: 10px;
       padding-left: 10px;
       font-size: 1rem;
   }
   #links {
       margin-left:20px;
   }
}

@media screen and (max-width: 700px) {
    #home, .buyButton {
        display: none; /*Tlačítko Home je nadbytečné, tak ho tam nedám když není místo. V reálné situaci bych na mobilu použil burger menu.*/
    }
}

@media screen and (max-width: 470px) {
    #siteName {
        display: none;
    }
    #links {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}